<h1>{{title}}</h1>
<form action="/addtask" method="post">
<label for="task">Task:</label>
<input type="text" id="name" name="name" required>
<label for="description">Last name:</label>
<input type="text" id="name" name="description" required>

<button type="submit">Submit</button>
</form>